version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 20
    commit-message:
      prefix: internal
    labels:
      - C-Dependencies
      - D-Trivial
      - S-Ready-to-Review

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 20
    commit-message:
      prefix: internal
    labels:
      - C-Dependencies
      - D-Trivial
      - S-Ready-to-Review
